<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.speedcapitalltd">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SignUpNameActivity"></activity>
        <activity android:name=".Activities.AddClientActivity" />
        <activity android:name=".Activities.No_Internet_Activity" />
        <activity android:name=".Activities.PaymentOptionsActivity" />
        <activity android:name=".Activities.AccountActivity" />
        <activity android:name=".Fragments.FragmentActivity" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.Select_ClientActivity" />
        <activity android:name=".Activities.Add_Notes_Activity" />
        <activity android:name=".Activities.My_Invoice_Activity" />
        <activity android:name=".Activities.ManageClientActivity" />
        <activity android:name=".Activities.InvoiceStatusActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.ReceiptActivity" />
        <activity android:name=".Activities.LogIn_PasswordActivity" />
        <activity android:name=".Activities.LogIn_EmailActivity" />
        <activity android:name=".Activities.Verification_CompleteActivity" />
        <activity android:name=".Activities.Start_VerificationActivity" />
        <activity android:name=".Activities.SignUp_PhoneActivity" />
        <activity android:name=".Activities.Signup_EmailActivity" />
        <activity android:name=".Activities.Sign_Up_Id_Activity" />
        <activity android:name=".Activities.Walk_throughActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>